$body-font-family: "Reggae One", cursive;
$body-background-color: darkgray;
$body-min-width: 575px;
$header-text-align: center;
$header-padding-bottom: 25px;
$header-padding-top: 25px;

$image-container-display: flex;
$image-container-flex-wrap: wrap;
$image-container-justify-content: space-evenly;
$image-container-padding-left: 5%;
$image-container-padding-right: 5%;
$image-container-background-color: darkgray;
$image-container-min-height: 500px;

$img-height: 350px;
$img-padding: 10px;
$label-padding: 5px;
$button-padding: 5px;

$footer-img-height: 100px;
$footer-margin: 5px;

$form-border-style: groove;
$form-border-width: 5px;
$form-margin: 5px;
$form-padding: 15px;
$form-display: flex;
$form-flex-direction: row;
$form-justify-content: space-evenly;
$form-font-weight: bolder;

$footer-height: 150px;
$footer-text-align: center;
$footer-align-items: center;
$footer-background-color: darkgray;
$footer-border-style: groove;
$footer-border-width: 5px;

$page2-construct-img-display: flex;
$page2-construct-img-flex-wrap: wrap;
$page2-construct-img-justify-content: center;
$page2-construct-img-padding-top: 10%;
$page2-construct-img-padding-bottom: 15%;

$h3-text-align: center;
$h3-color: royalblue;
